global
  log stdout format raw local0 info

defaults
  mode http
  timeout client 30s
  timeout connect 5s
  timeout server 30s
  log global

frontend stats
  bind *:8404
  stats enable
  stats uri /
  stats refresh 10s

frontend owncloud_in
  bind *:8080
  default_backend owncloud_back

backend owncloud_back
  balance roundrobin
  server oc1 owncloud:8080 check
  # server oc2 owncloud2:8080 check
